@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body,
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #0c111b;
}

#Logo img {
  width: 290px;
  height: auto;
  margin: 0.3% 4% 0% 4%;
}

@media (max-width: 767px) {
  #Logo img {
    width: 200px;
    height: auto;
    margin: 3.3% 4% 0% 4%;
  }
}

/*=========Navbar==========*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #151b27;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(223, 223, 223);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#bars {
  font-size: 32px;
  cursor: pointer;
  float: right;
  color: white;
  margin: 20px 32px 0px 0px;
  margin-right: 4.2%;
  padding: 0% 0.5% 0% 0.5%;
  position: fixed;
  top: 5px;
  right: 0;
  z-index: 9999;
  background-color: #0c111b;
  box-shadow: 0px 0px 1px 1px #fff;
  backdrop-filter: blur(20px);
}

@media (max-width: 1000px) {
  #bars {
    font-size: 30px;
    margin: 20px 18px 0px 0px;
    padding: 0.5% 1% 0% 1%;
  }
}

@media (max-width: 700px) {
  #bars {
    font-size: 30px;
    margin: 20px 16px 0px 0px;
    padding: 0% 2% 0% 2%;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

/*====== Slider =======*/
.avenger-container {
  letter-spacing: 0.2px;
  border-radius: 10px;
  transition: all ease 1s;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.75);
  margin: 2% 4% 4% 4%;
  color: #fff;
  min-height: 450px;
}

.avenger-container .swiper-wrapper {
  margin-bottom: 20px;
}

.avenger-container .name {
  margin-bottom: 20px;
}

.avenger-container .name .title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 40px;
}

.avenger-container .overview .title {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.671);
  margin-bottom: 30px;
}

.avenger-container .overview .description {
  text-align: left;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.459);
}

/*========== Slider Images=========*/
.avenger-container .img-container {
  height: 100%;
  position: relative;
  min-height: 450px;
}

.avenger-container .img-container .img-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 1;
  transition: all ease 1s;
}

.avenger-container .img-container .img-wrapper img {
  position: relative;
  bottom: 0;
  max-width: 100%;
  min-height: 100%;
  z-index: 4;
  opacity: 0;
  transition: all ease 1s;
}

.avenger-container .img-container .img-wrapper.active img {
  opacity: 1;
}

.avenger-container {
  background-color: #000;
}

@media (max-width: 768px) {
  .avenger-container {
    min-height: 200px;
    margin-top: 10%;
  }
  .avenger-container .name .title {
    font-size: 20px;
    margin: 5% 0% 4% 4%;
    margin-bottom: 5px;
  }

  .avenger-container .overview .title {
    font-size: 16px;
    margin: 3% 0% 4% 4%;
  }

  .avenger-container .overview .description {
    font-size: 14px;
    margin: 3% 0% 4% 4%;
  }

  .avenger-container .img-container {
    min-height: 220px;
  }
}

/*=========== Movies ==========*/
.Container {
  margin: 2% 4.2% 0 4.2%;
}

.Container h2 {
  margin-bottom: 2%;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}

.Movies img {
  margin-right: 10%;
  margin-bottom: 10%;
  width: 100%;
  max-height: 230px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: -4px 4px 5px 0 #000;
  transition: 0.8s;
}

.Movies img:hover {
  transform: translateY(-8px);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 768px) {
  .Movies img {
    min-height: 200px;
  }
  .Container h2 {
    margin: 4% 0% 10% 0%;
    font-size: 23px;
  }
}

/*=====Footer=====*/
.social_icon {
  margin: 50px 0;
}
.icons {
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 0;
}
.icons:hover {
  transition: 0.2s ease;
  transform: scale(1.05);
}
.social_icon .icons i {
  font-size: 24px;
  margin: 0 10px 0 0;
  /* width: 45px; */
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #fff;
  color: #ffffff;
  background: transparent;
}
.icons i:hover {
  box-shadow: 0 0px 8px rgb(0, 0, 0);
}

@media (max-width: 700px) {
  .social_icon .icons i {
    font-size: 20px;
    margin: 0 3px 0 0;
    padding: 9px;
  }
}

#last_line {
  width: 500px;
}
@media (max-width: 768px) {
  #last_line {
    width: 100px;
  }
}

#Watch_Movie h4 {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

#Watch_Movie div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Watch_Movie h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  display: inline-block;
}

#Watch_Movie img {
  width: 200px;
  height: auto;
  display: inline-block;
}

#Watch_Movie a {
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  padding: 0.5% 2%;
  border-radius: 50px;
  text-decoration: none;
  background-image: radial-gradient(#000, #0c111b);
  box-shadow: 0 0px 10px 0 rgba(59, 59, 59, 0.75);
}

#Watch_Movie a:hover {
  background-image: linear-gradient(to right, #0c111b, #000);
}

@media screen and (max-width: 768px) {
  #Watch_Movie h4 {
    font-size: 20px;
    line-height: 1.5;
  }
  #Watch_Movie h2 {
    font-size: 25px;
    line-height: 1.5;
  }
  #Watch_Movie div {
    margin-top: 10%;
  }
  #Watch_Movie img {
    width: 80px;
    height: auto;
  }
  #Watch_Movie a {
    font-size: 18px;
    font-weight: 600;
    padding: 3% 7%;
  }
}

.Carousel {
  margin: 2% 4.2% 0 3.5%;
}

.Carousel h2 {
  margin-bottom: 0%;
  margin-left: 2.2%;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .Carousel h2 {
    margin: 4% 0% 10% 2.2%;
    font-size: 23px;
  }
  .slick img {
    min-height: 200px;
  }
}

.slick-list {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  width: 100%;
  transition: 0.5s;
  overflow-x: hidden;
  height: 300px;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.slick {
  position: relative;
  width: 250px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding-left: 0.5%;
}

.slick img {
  object-fit: cover;
  max-height: 230px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: -4px 4px 5px 0 #000;
  transition: 0.8s;
}

.slick img:hover {
  transform: translateY(-8px);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.slick-arrow {
  border-radius: 30px;
  position: absolute;
  z-index: 4;
  width: 60px;
  height: 80px;
  text-align: center;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: rgb(187, 187, 187);
}

.slick-arrow i {
  font-size: 60px;
}

.slick-arrow:focus {
  outline: 0;
}

.slick-prev {
  left: -18px;
}

.slick-next {
  right: -10px;
}

.slick-arrow i:hover {
  color: rgb(155, 155, 155);
  cursor: pointer;
}

@media (max-width: 767px) {
  .slick-list {
    height: 250px;
  }
  .slick {
    padding-left: 0.2%;
    padding-right: 0.3%;
    width: 180px;
  }

  .slick-arrow i {
    font-size: 50px;
  }

  .slick-prev {
    left: -16px;
  }

  .slick-next {
    right: -18px;
  }
}
